/* Color variables  */
:root {
    --blue-green: rgb(11, 156, 156);
    --off-white: rgb(221, 232, 235);
    --tandem: rgb(113,114,68);
    --reddish: rgb(235, 187, 175);
    --golden: rgb(231, 193, 86);
}
/* Component wrapper  */
.startpage {
    height: 90vh;
    min-height: 350px;
    width: 60vw;
    min-width: 350px;
    max-width: 700px;
    border: 5px solid var(--blue-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    margin: 15px;
}
/* Pink circle  */
.uppercircle {
    background-color: var(--reddish);
    height: 50%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    border-radius: 33% 0% 33% 43%;
}
/* Striped circle  */
.lowercircle {
    height: 20%;
    width: 20%;
    position: absolute;
    z-index: 1;
    bottom: 90px;
    left: 0;
    border-radius: 33% 25% 33% 43%;
}
/* Decorative line  */
.line {
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 4;
    text-align: center;
}
/* Title of game/link to Tandem page  */
.title-link {
    color: var(--blue-green);
    text-align: center;
    z-index: 2;
    font-size: 38px;
    line-height: 45px;
}
/* Title of game  */
#start-name {
    font-size: 50px;
    padding-top: 8%;
}
#start-name:hover, .title-link:hover {
    color: var(--tandem) !important;
    cursor: pointer;
}
/* Tandem Logo  */
.tandem {
    width: 23%;
    padding-top: 5px;
    z-index: 4;
    text-decoration: underline;
}
/* Buttons wrapper  */
.btns-wrap {
    width: 70%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2%;
}
/* Start game and link to github buttons  */
.start-btns {
    display: block;
    position: relative;
    display: flex;
    /* text-align: center; */
    /* justify-content: center; */
    align-items: center;
    padding: 15px;
    width: 340px;
    margin: 10px;
    font-size: 20px;
    border: none;
    color: var(--blue-green);
    background-color: var(--off-white);
    z-index: 3;
    border-radius: 10px;;
}

/* Start and github icons  */
.fab, .fas {
    float: left;
    font-size: 25px;
    padding: 10px;
}
.fab {
    padding-right: 20px;
}
.fas {
    padding-right: 60px;
}
