body {
  margin: 0 auto;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-radius: 2px solid rgb(11, 156, 156);
  font-family: 'Source Code Pro', monospace;
}

button {
  font-family: 'Source Code Pro', monospace;
}
button:hover {
  cursor: pointer;
}