/* Element container  */
.round-cont {
    min-height: 400px;
}
/* Background decorations  */
.bottom-span {
    background-color: var(--reddish);
    height: 15%;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    border: 1px solid rgb(141, 112, 104);
}
.top-span {
    background-color: rgb(231, 193, 86);
    height: 15%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    border: 1px solid rgb(156, 130, 58);
}
/* Information container  */
.round-wrap {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-width: 400px;
    background-color: rgb(254,240,237, 0.6);
    border-radius: 25px;
    z-index: 2;
    overflow: cover;
}
/* Question container  */
.question-cont {
    text-align: center;
    color: var(--blue-green);
    position: relative;
    /* top: 10%; */
    z-index: 4;
}
/* Current question number  */
#question-num {
    position: relative;
    z-index: 3;
}
/* Current question text  */
.current-question {
    text-align: center;
    z-index: 5;
    padding: 15px;
    color: black;
    margin: 0;
}
/* For all buttons  */
#next:hover, .start-btns:hover, #endgame:hover, #play-again:hover {
    background-color: var(--blue-green);
    color: var(--off-white);
}
/* Answers container ul */
.round-choices {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 12%;
    /* padding-top: 5%; */
    z-index: 3;
}
/* Answers  */
.round-choices li {
    padding: 8px;
    margin: 5px;
}
/* Answers buttons  */
.round-choices li button {
    padding: 5px 15px;
    width: 120%;
    border-radius: 10px;
    border: 2px solid lightgrey;
}
/* If selected answer is true  */
.true {
    color: #fff;
    background-color: rgb(46, 167, 66);
    border: 2px solid rgb(46, 167, 66);
}
/* If selected answer is false  */
.false {
    color: #fff;
    background-color: rgb(196, 65, 65);
    border: 2px solid rgb(196, 65, 65);
}
/* Next question button  */
#next, #endgame {
    color: var(--blue-green);
    background-color: var(--off-white);
    border: 1px solid var(--blue-green);
    z-index: 3;
    bottom: 7%;
    padding: 10px;
    width: 65%;
    position: absolute;
    border-radius: 10px;
}
/* See results button, also hides next button until an answer has been selected  */
.empty, .endgame, .next-btn {
    display: none !important;
}
#endgame {
    float: left;
}
#endgame:hover {
    border: 2px solid var(--blue-green);
}
.showResults {
    left: 17% !important;
}


@media screen and (max-height: 640px) {
    button {
        padding: 2px !important;
        font-size: 12px;
    }
    li {
        padding: 2px !important;
    }
    .round-choices {
        flex-direction: column;
    }
}

.thisCorrect {
    border: 2px solid green !important;
}
