.round-cont {
    min-height: 400px;
}
.round-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.round-wrap p {
    text-align: center;
}
.question {
    text-align: center;
    color: var(--blue-green);
    z-index: 3;
}
#question {
    position: relative;
    z-index: 3;
}

.bottom-span {
    background-color: var(--reddish);
    height: 10%;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
}


button {
    color: var(--blue-green);
    background-color: var(--off-white);
    border: 1px solid var(--blue-green);
    z-index: 3;
}
button:hover {
    background-color: var(--blue-green);
    color: var(--off-white);
}

.round-choices {
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    padding-right: 5%;
    /* padding-top: 5%; */
    z-index: 3;
}
.round-choices li {
    padding: 15px;
}
.round-choices li button {
    padding: 10px;
    width: 120%;
}
.next-btn {
    bottom: 0;
    padding: 10px;
    width: 65%;
    position: relative;
}

.true {
    color: #fff;
    background-color: green;
}
.false {
    color: #fff;
    background-color: red;
}
.empty, .endgame {
    display: none;
}
